/**
Нормализация блочной модели
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
*/
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
*/
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
}

/**
  Плавный скролл
*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
*/
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-500.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-600.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-dark-gray: #292929;
  --color-gray: #424242;
  --color-gray-alt: #484848;
  --color-accent: #01996d;
  --color-light: #ffffff;
  --color-accent-dark: #245852;
  --container-width: 1370px;
  --container-padding-x: 50px;
  --font-family-base: "Lato", sans-serif;
  --font-family-title: "Georgia", serif;
  --transition-duration: 0.2s;
  --border-radius: 4px;

}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.header, .section, .footer {
  max-width: 1920px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-size: clamp(18px, 1.04vw, 20px);
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-gray);
  background-color: var(--color-light);
}

a,
button,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.header__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 17px;  
  background-color: var(--color-light);  
}

.burger-button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1;  
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
  .header__logo:hover, .button:hover, .footer__logo:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
  .header__logo:active, .button:active, .footer__logo:active {
    opacity: 0.8;
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 2px;
  box-shadow: 0 -8px, 0 8px;
}
.burger-button:hover::after {
  background-color: var(--color-light);
  color: var(--color-light);
}

.cross-button {
  position: relative;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 80%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button:hover:before, .cross-button:hover::after {
  background-color: var(--color-light);
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 11px 25px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  min-height: 80vh;
}
.mobile-overlay__link {
  font-size: 26px;
}
body:has(dialog[open]) {
  overflow: hidden;
}
.header__logo {
  align-content: center;
  margin-right: 172px;
  height: 40px;
  flex-shrink: 0;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  }
.header__menu {
  display: flex;
  justify-content: space-between;
  line-height: normal;
  color: var(--color-dark-gray);
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 72px;
}
.header__menu-link, .mobile-overlay__link, .footer__menu-link, .footer__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 40px;
}
@media (hover: hover) {
  .header__menu-link:hover::after, .header__action-link:hover::after, .mobile-overlay__link:hover::after, .footer__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after, .header__action-link:active::after, .mobile-overlay__link:active::after, .footer__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after, .header__action-link::after, .mobile-overlay__link::after, .footer__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
}
.header__action-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 40px;
}
.button {
  height: 65px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  cursor: pointer;
}
.header__action-button {
  width: 153px;
  height: 51px;
}
.section__hero {
  background: url(../images/hero-bg.jpg) center no-repeat;
  margin-bottom: 169px;
}
.hero {
  display: flex;  
  flex-direction: column; 
  min-height: 895px;
}
.hero__title {
  padding-top: 175px;
  font-size: 65px;
  line-height: normal;
  font-family: var(--font-family-title);
  font-weight: 700;
  color: var(--color-accent);
}
.hero p {
  margin-bottom: 18px;
  max-width: 420px;
  min-height: 123px;
  font-weight: 400;
  line-height: 1.57;
  color: var(--color-gray-alt);
}
.hero__button, .section-product__button {
  width: 227px;
  height: 65px;
}
.section-steps {
  margin-bottom: 51px;
}
.section-steps__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.section-steps-title {
  font-size: clamp(22px, 1.25vw, 24px);
  font-weight: 600;
  line-height: 1.57;
}
.section-steps-slogan, .section-product-slogan {
  font-family: Georgia, serif;
  font-size: clamp(46px, 2.6vw, 50px);
  font-weight: 700;
  line-height: 1.57;
  color: var(--color-accent);
  text-wrap: balance;
}
.section-steps__description {
  max-width: 671px;
}
.section-steps__description>p {
  line-height: 1.5;
}
.steps__list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: wrap;
}
.steps__item:nth-child(2) {
  padding-top: 280px;
}
.step-card {
  max-width: 390px;
}
.step-card__header {
  position: relative;
}
.step-card__number {
  font-family: Georgia, serif;
  font-size: 150px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(1, 153, 109, 0.20);
  z-index: -1;
}
.step-card__name {
  position: absolute;
  bottom: 46px;
  left: 77px;
  flex-shrink: 0;
  font-family: Georgia, serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-dark);
}
.step-card__body>p {
  margin-bottom: 50px;
  line-height: 1.5;
}
.step-card__image {
  height: auto;
}
.section-story {
  background-color: var(--color-accent-dark);
  min-height: 922px;
}
.section-story__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1606px;
  padding-top: 229px;
}
.section-story__body {
  max-width: 580px;
}
.section-story__title {
  margin-bottom: 33px;
  font-family: Georgia, serif;
  font-size: clamp(46px, 2.6vw, 50px);
  font-weight: 700;
  line-height: 1.57;
  color: var(--color-light);
}
.section-story__subtitle {
  margin-bottom: 57px;
  font-size: clamp(22px, 1.3vw, 25px);
  font-weight: 600;
  line-height: 1.57;
  color: var(--color-light);
}
.section-story__button {
  width: 240px;
}
.section-story__video {
  width: 896px;
  height: 516px;
  border-radius: 16px;
}
.section-product__container {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  padding-top: 120px;
  padding-bottom: 243px;
  padding-left: calc(var(--container-padding-x) + 60px);
}
.section-product__image {
  position: relative;
  width: 638px;
  height: 573px;
  flex-shrink: 0;  
}
.product-card-image {
  position: absolute;
  bottom: -75px;
  left: -60px;
}
  .section-product-title {
    margin-bottom: 10px;
    font-size: clamp(22px, 1.3vw, 25px);
    font-weight: 600;
    line-height: 1.57;
  }
  .section-product-subtitle {
    margin-bottom: 20px;
  }
  .section-product__description>p {
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 1.57;
    color: var(--color-gray-alt);
  }
  .footer {
    background-color: var(--color-accent-dark);
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 95px;
  }
  .footer__logo {
    height: 55px;
  }
  .footer-menu {
    margin-bottom: 144px;
  }
  .footer__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    color: var(--color-light);
  }
  .footer__menu-link {
    font-size: clamp(22px, 1.26vw, 2px);
    font-weight: 600;
  }
@media (max-width: 1600px) {
  .section-story__container {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 50px;
  }
  .section-product__container {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}
@media (max-width: 1440px) {
  .header__inner {
    justify-content: space-between;
    column-gap: 40px;
  }
  .header__logo {
    margin-right: 0;
  }
  .header-menu {
    width: auto;
    column-gap: 60px;
  }
  .header__menu-list {
    column-gap: 40px;
  }

  .section__hero {
    margin-bottom: 50px;
  }

  .section-steps-slogan {
    margin-bottom: 30px;
  }

  .section-steps__description {
    max-width: 550px;
  }
}

@media (max-width: 1330px) {
  .section-steps__header {
    flex-direction: column;
    margin-bottom: 0;
    }
    .section-steps-slogan {
      margin-bottom: 10px;
    }

  .steps__item:nth-child(2) {
    padding-top: 0;
  }
  .steps__item:nth-child(3) {
    margin-inline: auto;
  }
  .section-product-slogan {
    padding-bottom: 20px;
    line-height: normal;
}
}
@media (max-width: 1200px) {
  .section-product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--container-padding-x);
    padding-bottom: 80px;
  }
  .section-product__image {
    display: flex;
    height: auto;
    padding-inline: 30px;
    order: 9;
  }
  .section-product__body {
    margin-bottom: 30px;
  }
  .footer__inner {
    row-gap: 25px;
    padding-top: 40px;
  }
  .footer-menu {
    margin-bottom: 60px;
  }
  .footer__menu-list {
    row-gap: 25px;
  }
}
@media (max-width: 1023px) {
  .container {
    --container-padding-x: 25px;
  }
  .header__inner {
    padding-block: 12px;
  }
  .header__action-button {
    height: 40px;
  }
  .section-story__video {
    max-width: 90vw;
    aspect-ratio: 1;
  }
}
@media (max-width: 900px) {
  .hidden-mobile {
    display: none !important;
  }
    .header__inner {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }
  .steps__list {
    flex-direction: column;
    align-items: center;
  }
  .section-story {
    min-height: 880px;
  }
  .section-story__title, .section-steps-slogan, .section-product-slogan {
    margin-bottom: 20px;
    font-size: clamp(40px, 2.6vw, 46px);
    line-height: normal;
  }
  .section-story__subtitle {
    margin-bottom: 40px;
  }
  .section-story__container {
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 30px;
  }
}
@media (min-width: 899.9px) {
  .visible-mobile {
    display: none !important;
  }
}
@media (max-width: 780px) {
  .section-product__image {
    max-width: 80vw;
  }
  .product-image {
    height: auto;
  }
  .product-card-image {
    width: clamp(240px, 15vw, 296px);
    height: auto;
  }
}
@media (max-width: 540px) {
  .header__action {
    width: calc(100vw - (var(--container-padding-x) * 2));
  }
  .section__hero {
    margin-bottom: 30px;
  }
    .hero__title {
    padding-top: 175px;
    font-size: 50px;
  }
    .hero__button {
    width: 180px;
    height: 45px;
  }
  .section-steps-slogan {
    line-height: normal;
  }
  .step-card__body>p {
    margin-bottom: 20px;
  }
  .product-card-image {
    width: clamp(160px, 15vw, 296px);
    bottom: -50px;
    left: -30px;
  }
}


